
header.banner {
    background: #0083dc;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid rgba(45,55,103,.2);
}
header .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header span {
    width: auto;
    margin: auto;
    display: table;
    font-family: Chalkduster, fantasy
}

header img {
  height: 35px;
  /*position: absolute;*/
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    margin: 0 auto;
}
.content {
  padding-top: 70px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  font-size: 11px;
  color: #807c7c;
  background-color: #eae9e9;
}
footer p {
  margin-left:10px;
}

main {
    padding: 30px;
}
