.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.overviewRecipe{
  position: relative;
  top:0;
  width: 2000px;
}

.carrousselRecipe{
  position: absolute;
  width: 1000px;
  right: 1000px;
}

.ratingRecipe{
  position: absolute;
  width: 900px;
  margin: 10px;
  left: 1000px;
  top:400px;
}

.informationsRecipe {
  position: absolute;
  width: 900px;
  margin: 10px;
  left: 1000px;
  top:0;
}

ol {
  color: #ccc;
  list-style-type: none;
}

ol li {
  position: relative;
  font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
  margin-bottom: 20px;
}

li p {
  font: 12px/1.5 Helvetica, sans-serif;
  padding-left: 60px;
  color: #555;
}

span {
  position: absolute;
}

.Ingredients{
  position: relative;
  right:35%;
  font-size: 45px;
}

.Tools{
  position: relative;
  right:35%;
  font-size: 45px;
}

.Instructions{
  position: absolute;
  top: 120%;
  left: 50%;
  font-size: 45px;
}
